/* CSS Grid */

@media screen and (min-width: 981px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 0 2.25em;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: 100%;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-4 {
    grid-column: span 4;
  }
}
